./app/.Rproj.user
./app/.Rhistory
./app/.Rdata
./app/*.Rproj

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# ignore swp files
*.swp
.Rproj.user
